* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #363467, #1a1a3d, #363467);
  font-family: poppins, sans-serif;
  color: #fff;
}
